<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>AMAZON Rekognition</title>
    </head>
    <body>
        <h1>A que famoso te pareces?</h1>
        <form method=post enctype=multipart/form-data>
          <input type=file name=file>
          <input type=submit value=Upload>
        </form>
        <br><br><br><br>
        {% if err %}
            <h2>{{err}}</h2>
        {% endif %}
        {% if img %}
            <img src="{{url_for('static', filename=img)}}">
        {% endif %}
    </body>
</html>